
*{ margin: 0; 
padding: 0;
 }
 
.navstyle{
 width: 100%; 
 height: 100px; 
 background: #6ab04c; 
 color: white;
}

.navstyle ul {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   
   .navstyle ul li{
    list-style: none;
    text-transform: uppercase;
    color: white;
   }
   
   .navstyle ul li a{
    color: white;
   }
   
   